
<% if @movies.blank? %>
  <h4>There are no movies containing the term <%= params[:search] %>.</h4>
<% end %>

<br>


<% @movies.each_slice(3) do |movie| %>
  <div class="row">
  <% movie.each do |movie| %>
    <%= render movie %>
  <% end %>
  </div>
<% end %>

